<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Add New Show Title</title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>
        <h1>Editing <%= application.title %>
        </h1>
        <div class="edit-form-container">
        <form action="/users/<%= user._id %>/applications/<%= application._id %>?_method=PUT" method="POST">
            <label for="showTitle">Title:</label>
            <input type="text" name="showTitle" id="showTitle" value="<%= application.showTitle %>" />

            <label for="genre">Genre:</label>
            <input type="text" name="genre" id="genre" value="<%= application.genre %>" />

            <label for="comments">Comments:</label>
            <textarea name="comments" id="comments"><%= application.comments %></textarea>

            <label for="whereToWatch">Where to Watch:</label>
            <input type="text" name="whereToWatch" id="whereToWatch" value="<%= application.whereToWatch %>" />

            <label for="status">Status:</label>
            <select id="status" name="status">
                <option value="interested" <%=application.status==='interested' ? "selected" : "" %>>Interested</option>
                <option value="watching" <%=application.status==='watching' ? "selected" : "" %>>Watching</option>
                <option value="watchingButNotFinished" <%=application.status==='watchingButNotFinished' ? "selected" : "" %>>Watching But Not Finished</option>
                <option value="finished" <%=application.status==='finished' ? "selected" : "" %>>Finished</option>
                <option value="wouldRecommend" <%=application.status==='wouldRecommend' ? "selected" : "" %>>Would Recommend</option>
                <option value="wouldNotRecommend" <%=application.status==='wouldNotRecommend' ? "selected" : "" %>>Would Not Recommend</option>
            </select>
            <button type="submit">Update Show Title</button>
        </form>
        </div>
</body>

</html>