<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
<Style>
  body {
    background-image: url('/images/AnimeDragon3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
</Style>
    <title>Your Shows</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    
    <div class="all-apps-body">
      <div class="all-apps-header">
        <h1>Your Shows</h1>
        <a class="add-app-link" href="/users/<%=user._id%>/applications/new">Add A Show Title</a>
      </div>
      <ul>
        <% applications.forEach((application) => { %>
          <li>
            <a href="/users/<%= user._id %>/applications/<%= application._id %>"> 
              Title: <%= application.showTitle %> 
              Genre: <%= application.genre %> </a>
          </li>
          <% }) %>
        </ul>
      </div>
  </body>
</html>